Labs/XML/xml_lab/src/Library/Library-anonymous.xsd

<?xml version="1.0"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:element name="Library">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Location" type="xs:string"/>
                <xs:element name="Description" type="xs:string"/>
                <xs:element name="Librarian" type="xs:string" maxOccurs="unbounded"/>
                <xs:element name="Books">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Book" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Title" type="xs:string"/>
                                        <xs:element name="ISBN">
                                            <xs:complexType>
                                                <xs:attribute name="ID" type="xs:positiveInteger" use="required"></xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Author" type="xs:string"/>
                                        <xs:element name="Preface" type="xs:string"/>
                                        <xs:element name="Parts">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Title" type="xs:string"/>
                                                    <xs:element name="Summary" type="xs:string"/>
                                                    <xs:element name="Chapter"  maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="Title" type="xs:string"/>
                                                                <xs:element name="Summary" type="xs:string"/>
                                                                <xs:element name="Section" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="Paragraph" type="xs:string" maxOccurs="unbounded"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
